@model IEnumerable<Category>
<div class="my-4">
    <u1 class="list-group">
        @foreach (var cat in Model)
        {
            <li class="list-group-item">
                @cat.CategoryName
            </li>
        }

    </u1>

</div>