@page "/getintouch"


<div class="text-center border my-5 rounded">
    <div class="display-6">İletişim Bilgileri</div>
    <div class="lead"> 
        <i class="fa fa-phone text-primary my-3"></i>
        <p>
            312 488 2678 Bilgi Ve Destek Hattı
        </p>

        <i class="fa-solid fa-address-book"></i>
        <p>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3059.2692395866256!2d32.85095757565237!3d39.93536687152112!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d34ef60330a9a7%3A0xe8e39a6e48328fe!2zQsO8ecO8ayBUaXlhdHJvIC8gT3BlcmE!5e0!3m2!1str!2str!4v1723632118506!5m2!1str!2str" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </p>

        <i class="fa-solid fa-envelope"></i>
        <p>
            E-posta: info@biletkoprusu.com
        </p>
    </div>
</div>
